div(class="jumbotron")
    h1(style="color:blue;") Ingrese Producto
    br
    form(action="/productos" method="post")
        div(class="form-group")
            label(for="nombre")
                b Nombre
            input(id="nombre" class="form-control" type="text" name="nombre")
        .form-group
            label(for='precio')
                b Precio
            input#precio.form-control(type='number' name='precio')
        .form-group
            label(for='fotoUrl')
                b Foto URL
            input#fotoUrl.form-control(type='text' name='fotoUrl')
        .form-group
        button(class="btn btn-success mt-3 mb-5") Enviar
