<div class="jumbotron mt-5 mb-5">
    <h1 style="color:blue;">Ingrese Productos</h1>
    <br>
    <form action="/productos" method="post">
        <div class="form-group">
            <label for="nombre"><b>Nombre</b></label>
            <input id="nombre" class="form-control" type="text" name="nombre" onchange="">
        </div>
        <div class="form-group">
            <label for="precio"><b>Precio</b></label>
            <input id="precio" class="form-control" type="number" name="precio">
        </div>
        <div class="form-group">
            <label for="fotoUrl"><b>Foto URL</b></label>
            <input id="fotoUrl" class="form-control" type="text" name="fotoUrl">
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
</div>
